@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  width: 100%;

  @apply text-slate-800;
}

code {
  @apply bg-gray-300 rounded px-1 text-sm;
}

.dark code {
  @apply bg-slate-600 text-white;
}

a {
  @apply underline decoration-dotted underline-offset-4;
}
