# Node packages
node_modules

# Built files
dist

# Generated version file; always created pre-publish
src/version.ts
src/landing.ts

# Generated API diffs for @microsoft/api-extractor CI
temp/

# Release-only files; tree must be clean on release, so these can't be modified
.npmrc

# Local dev files
coverage/

tsdoc-metadata.json

/.direnv/
