name: PR checks

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_AUTH_TOKEN: nothing

jobs:
  # A flag we can use to warn us of critical known issues in the chain. This
  # should be caught in a number of places (including GitHub as CVEs), but we
  # also perform a check here.
  audit:
    name: pnpm security audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          build: false
      # Optional dependencies are packages like frameworks, which are actually
      # peer dependencies and are not installed in every usage, so we omit them
      # here and only check what's shipped directly by us.
      - run: pnpm audit --audit-level=critical --prod --no-optional

  inngest_test:
    name: "inngest: Runtime tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    strategy:
      fail-fast: false
      matrix:
        nodeVersion:
          - 20
          - 22
          - 24
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.nodeVersion }}
      - run: |
          node --version
          npm --version
          npm run test

  inngest_types:
    name: "inngest: Type tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    strategy:
      fail-fast: false
      matrix:
        tsVersion:
          - "latest"
          - "~5.9.0"
          - "~5.8.0"
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm add -D typescript@${{ matrix.tsVersion }}
      - run: pnpm run test:types
      - run: pnpm run test:dist

  inngest_package_health:
    name: "inngest: Package health"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm run local:pack

      - name: Lint package publishing config
        id: publint
        continue-on-error: true
        run: pnpm dlx publint --pack npm ./dist

      - name: Check publishing types health
        id: typescheck
        continue-on-error: true
        run: pnpm dlx @arethetypeswrong/cli inngest.tgz

      - name: Fail if any checks failed
        if: steps.publint.outcome != 'success' || steps.typescheck.outcome != 'success'
        run: exit 1

  inngest_lint:
    name: "inngest: Lint"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm run lint

  inngest_test_dist:
    name: "inngest: Dist tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm run test:dist

  inngest_test_deps:
    name: "inngest: Dependency tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm run test:deps

  inngest_test_composite:
    name: "inngest: Composite tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - run: pnpm run test:composite

  "eslint-plugin_test":
    name: "eslint-plugin: Test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/eslint-plugin
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          install-dependencies: false
          build: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm test

  "middleware-encryption_test":
    name: "middleware-encryption: Test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/middleware-encryption
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          install-dependencies: false
          build: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm test

  "middleware-validation_test":
    name: "middleware-validation: Test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/middleware-validation
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          install-dependencies: true
          build: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm test

  "realtime_test":
    name: "realtime: Test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/realtime
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          install-dependencies: false
          build: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm test

  "test_test":
    name: "test: Test"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/test
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
        with:
          install-dependencies: false
          build: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm test

  package_inngest:
    name: "inngest: Package"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - name: Package as tarball
        run: pnpm run local:pack
      - name: Archive package tarball
        uses: actions/upload-artifact@v4
        with:
          name: inngestpkg
          path: packages/inngest/inngest.tgz

  examples-matrix:
    name: Create examples test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3

      - id: matrix
        run: |
          blocklist=$(grep -v '^#' examples/.inngestignore | jq -R . | jq -s .)
          echo "matrix=$(find examples -mindepth 1 -maxdepth 1 -type d \( -name 'framework-*' -or -name 'bun*' \) | grep -v -f <(echo $blocklist | jq -r '.[]') | xargs -n 1 basename | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  examples:
    name: Test examples
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/inngest
    needs: [examples-matrix, package_inngest]
    strategy:
      fail-fast: false
      matrix:
        example: ${{ fromJson(needs.examples-matrix.outputs.matrix) }}
        streaming: [""]
        include:
          - example: framework-remix
            streaming: force
          - example: framework-nextjs-app-router
            streaming: force
          - example: node
            streaming: force
          - example: framework-express
            streaming: force
        exclude:
          - example: framework-nextjs-starter
          - example: framework-hono
          - example: bun-sync
          - example: framework-nitro-sync
    steps:
      # Checkout the repo
      - name: Checkout SDK
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup-and-build

      - name: Download pre-built SDK
        uses: actions/download-artifact@v4
        with:
          name: inngestpkg
          path: packages/inngest

      - name: Run integration tests
        run: pnpm run itest ${{ matrix.example }}
        env:
          INNGEST_STREAMING: ${{ matrix.streaming }}
