name: Release

on:
  push:
    branches:
      - changesets-release

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  checks:
    uses: ./.github/workflows/pr.yml
    secrets: inherit

  npm:
    needs: [checks]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-and-build
      - uses: changesets/action@v1
        id: changesets
        with:
          publish: yarn cs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_ENV: test # disable npm access checks; they don't work in CI
